<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<!-- Title pagina-->
<header>
    <h1 id="title">Webservices</h1>

    <hr class="title-line">
</header>

<!-- Barchart knop die de eerste populaire films van de lijst neem-->
<div id="barchart" >
    <span>Stelt een chart op die de eerste 10 populaire films van deze lijst neemt</span>
    <button onclick="render_barchart();"> Toon barchart</button>
</div>

<!-- Input balk voor het opvragen van x aantal populaire films-->
<div id="input-popular" >
    <span>Geef een waarde in om het aantal populaire films op te vragen: </span>
    <input
        type="number"
        min="0"
        value="0"
        id="amountInput"
    >
    <button onclick="render_popular_table();"> Toon populaire films </button>
</div>



<!-- Tonen van populaire films  -->
<div id="popular-movies"></div>

<!-- Tonen van like en delete knop van de film -->
<div id="interact-buttons"></div>

<!-- Tonen van overeenkomsten -->
<div id="similar" style="display: flex">
    <div id="same-genres"></div>
    <div id="similar-runtime"></div>
    <div id="overlapping-actors"></div>
</div>


<!-- Return knop voor het opvragen van populaire films -->
<div id="return-button">
    <button onclick="render_popular_table(); change_view()"> Ga terug </button>
</div>



<script src="../static/js/script.js"></script>
</body>

</html>